
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
	
<input type="checkbox" id="checkbox">

<header class="header">
	<h2 class="u-name">
		<i id="navbtn" class="fa fa-bars" aria-hidden="true"></i>
		Supermarket Billing <b>Management</b>
	</h2>
	<i class="fa fa-user-o" aria-hidden="true"></i>
</header>

<div class="body">
	<nav class="side-bar">
		<div class="user-p">
			<img src="../../../assets/admin.jpg">
			<h4>Hello  admin</h4>
		</div>
		<ul>
			<li routerLink="/admin-dashboard">
				<a routerLink="/admin-dashboard">
					<i class="fa fa-user-o" aria-hidden="true"></i>
					<span>Dashboard</span>
				</a>
			</li>
			<li routerLink="/add-employee">
				<a routerLink="/add-employee">
					<i class="fa fa-user-circle"></i>
					<span>Add Employee</span>
				</a>
			</li>
			<li routerLink="/manage-employee">
				<a routerLink="/manage-employee">
					<i class="fa fa-users"></i>
					<span>Manage Employees</span>
				</a>
			</li>
			<li routerLink="/add-product">
				<a routerLink="/add-product">
					<i class="fa fa-plus"></i>
					<span>Add Product</span>
				</a>
			</li>
			<li href="/manage-inventory">
				<a href="/manage-inventory">
					<i class="fa fa-window-restore"></i>
					<span>Inventory</span>
				</a>
			</li>
			<!-- <li>
				<a href="#">
					<i class="fa fa-opencart"></i>
					<span>Update Stock</span>
				</a>
			</li> -->
			<li routerLink="/admin-dashboard">
				<a routerLink="/admin-dashboard">
					<i class="fa fa-area-chart"></i>
					<span>Sales</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-power-off" aria-hidden="true"></i>
					<span>Logout</span>
				</a>
			</li>
		</ul>
	</nav> 
	<div class="main-block">
        <h1><b>ADD NEW PRODUCT</b></h1>
        <form action="/">
            <hr>
            <label id="icon" for="id">I</label>
            <input type="text" name="id" id="id" placeholder="S123, G124" required [(ngModel)]="id"/>
            <br>
            <br>
            <label id="icon" for="name">N</label>
            <input type="text" name="name" id="name" placeholder="Product Name - Chyawanprash, KitKat" required [(ngModel)]="name"/>
            <br>
            <br>
            <label id="icon" for="manufacturer">M</label>
            <input type="text" name="manufacturer" id="manufacturer" placeholder="Manufacturer - Dabur, Nestle" required [(ngModel)]="manufacturer"/>
            <br>
            <br>
            <label id="icon" for="price">P</label>
            <input type="number" name="price" id="price" placeholder="Cost - 1000 per piece" required [(ngModel)]="price"/>
            <br>
            <br>
            <label id="icon" for="quantity">Q</label>
            <input type="number" name="quantity" id="quantity" placeholder="Pieces - 100" required [(ngModel)]="quantity"/>
            <br>
            <br>
            <label id="icon" for="discount">D</label>
            <input type="number" name="discount" id="discount" placeholder="percent - 2%, 5%, etc" required [(ngModel)]="discount"/>
            <br>
            <br>
            <label id="icon" for="description">D</label>
            <input type="text" name="description" id="description" placeholder="tasty..." required [(ngModel)]="description"/>
            
            <hr>
    
            <!-- RATING -->
            <label class="mt-5" id="icon" for="rating">R</label>
            <div class="star-source">
                <svg>
                <linearGradient x1="50%" y1="5.41294643%" x2="87.5527344%" y2="65.4921875%" id="grad">
                    <stop stop-color="#bf209f" offset="0%"></stop>
                    <stop stop-color="#d62a9d" offset="60%"></stop>
                    <stop stop-color="#ED009E" offset="100%"></stop>
                </linearGradient>
                <symbol id="star" viewBox="153 89 106 108">   
                    <polygon id="star-shape" stroke="url(#grad)" stroke-width="5" fill="currentColor" points="206 162.5 176.610737 185.45085 189.356511 150.407797 158.447174 129.54915 195.713758 130.842203 206 95 216.286242 130.842203 253.552826 129.54915 222.643489 150.407797 235.389263 185.45085"></polygon>
                </symbol>
                </svg>
            </div>
              
              <div class="star-container">
                <input type="radio" name="star" id="five" [(ngModel)]="rating">
                <label for="five">
                    <svg class="star">
                        <use xlink:href="#star" (clink)="setRating(5)"/>
                    </svg>
                </label>
                <input type="radio" name="star" id="four">
                <label for="four">
                    <svg class="star">
                        <use xlink:href="#star" (clink)="setRating(4)"/>
                    </svg>
                </label>
                <input type="radio" name="star" id="three">
                <label for="three">
                    <svg class="star">
                        <use xlink:href="#star" (clink)="setRating(3)"/>
                    </svg>
                </label>
                <input type="radio" name="star" id="two">
                <label for="two">
                    <svg class="star">
                        <use xlink:href="#star" (clink)="setRating(2)"/>
                    </svg>
                </label>
                <input type="radio" name="star" id="one">
                <label for="one">
                    <svg class="star">
                        <use xlink:href="#star" (clink)="setRating(1)"/>
                    </svg>
                </label>
              </div>
              <!-- RATING ENDS -->
    
            <hr>
            <div class="btn-block">
                <div class="btn-group">
                    <button class="btn btn-success" color="primary" (click)="addProduct()">Save</button>
                    <button class="btn btn-danger" color="warn" (click)="cancelProduct()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
